.header
  グループを編集しました

.contents
  .contents__left
    .contents__left-top
      .contents__left-top__text-box
        .contents__left-top__text-box--text
          test-user
        .contents__left-top__text-box--icon
          .contents__left-top__text-box--icon-edit
          =link_to "", class: "contents__left-top__text-box--icon contents__left-top__text-box--icon-edit" do
            = fa_icon "edit", class: "contents__left-top__text-box--icon-btn"
            %span<>
          .contents__left-top__text-box--icon-cog
          =link_to "", class: "contents__left-top__text-box--icon contents__left-top__text-box--icon-cog" do
            = fa_icon "cog", class: "contents__left-top__text-box--icon-btn"
            %span<>
    .contents__left-bottom
      .contents__left-bottom__group
        .contents__left-bottom__group-name
          a
        .contents__left-bottom__group-message
          a
  .contents__right
    .contents__right-top
      .contents__right-top__text-box
        .contents__right-top__text-box--group
          group-name
        .contents__right-top__text-box--user-list
          Menber：
          .contents__right-top__text-box--user-list-name
      .contents__right-top__edit
        .contents__right-top__edit-btn
          Edit
    .contents__right-main
    .contents__right-bottom
      %form.contents__right-bottom__text
        .contents__right-bottom__text-box
          %input{type: "text", name: "post", class: "contents__right-bottom__text-box--text", placeholder: "type a text"}
          %label.contents__right-bottom__text-box--image{for: "image-icon"}
            = fa_icon "image"
            %input{type: "file", id: "image-icon"}
        
        .contents__right-bottom__text-send
          Send








